{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }} 
    <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>

<h1 style="margin-top:100px ; margin-bottom: 30px;" align="center">Upload file</h1> 


<form method=post action="/" enctype=multipart/form-data>
  <input type="file" name="file">
  <input type="submit" value="submit">
</form>



<script>
  function upload() {
    const fileUploader = document.getElementById('file-uploader');
    fileUploader.addEventListener('change', (event) => {
      console.log("Done")
      const files = event.target.files;
      console.log('files', files);
      console.log(files[0]);
    });
  }
</script>







{% endblock %}